$header-font: 'Finger Paint', cursive;

@media only screen and (max-width: 425px) {
  h1  {
    font-size: 2em;
  }

  .image img {
    width: 300px;
  }
}

@media only screen and (min-width: 480px) {
  h1  {
    font-size: 3em;
  }
  .image img {
    width: 400px;
  }
}


h1 {
  font-family: $header-font;
}

.content {
  text-align: center;
}
